<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<!-- TAKE THE DATA FROM BLOGLIST, LOOP OVER IT AND PRINT IT OUT -->
	<%	blogList.forEach(function(blog){ %>
	<p>
		Title: <%=	blog.title %>
	</p>
	<p>
		<%=	blog.body %>
	</p>
	<p>
	<%=	blog.authorId %>
	 <% }) %>
	 </p>
</body>
</html>